.favorite-list {
    height: 100%;
    width: calc(100% - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    justify-self: center;
    align-self: center;
    gap: 100px;
    padding: 20px;
    margin: 0 40px 50px 80px;
    background-color: #f9f9f9;
  }
  
  .favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .favorite-logo {
    width: 150px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .favorite-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .favorite-button:hover {
    color: red;
  }